<h1>Events</h1>

<ul>
	<% @events.each do |event| %>
  	<li>
  		<strong><%= event.event_name %></strong>
  		<%= event.event_description %>
  		<%= event.location %>
  		<%= event.date %>
  	</li>
	<% end %>
</ul>